.horizontal-list {
    display: flex;
    border: 2px solid blue;
    border-radius: 2px;
    justify-content: space-around;
    line-height: 1 rem;
    align-items: center;
    height: fit-content;
    padding: 0.35rem;
    background-color: white;
  }
  
  .list-item {
    display: flex;
    align-items: center;    
    margin-right: 2 rem;
    
  }
  
  .icon {
    width: 4rem; 
    height: 4rem; 
    padding: 1 rem;
    display: flex;
    align-items: center;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .value {
    font-weight: bold;
  }
  
  .key {
    color: #999;
  }
  