.vertical-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
  }
  
  .vertical-card hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .vertical-card h3 {
    color: #333;
  }
  
  .content {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .content-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .key {
    font-weight: bold;
  }

  .value {
    color: blue
  }
  
  .circle-wrapper {
    display: inline-block;
  }
  
  .circle {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .circle span {
    color: blue;
    font-weight: bold;
  }

  .creative-title {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }

  .heading hr {
    width: 125px;
    height: 4px;
    background-color: #5fcf80;
    border: none;
    display: inline-block;
    border-radius: 10px;
    margin: 8px 0px;
  }
  
  .creative-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 200%;
    border-bottom: 1px solid #ccc;
    z-index: -1; 
  }
  
  /* .hr-lines{
    position: relative;
    max-width: 100%;
    margin: 2rem auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: red,
  }
  
  .hr-lines:before{
    content:" ";
    height: 2px;
    width: 30%;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 30%;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
   */

   .hr-lines {
    position: relative;
    margin-left: 2rem auto;
    padding-left: 2rem;
    padding-right: 2rem;

    /* text-align: center; */
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .hr-lines::before,
  .hr-lines::after {
    content: "";
    height: 2px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    width: calc(50% - 60px); 
  }
  
  .hr-lines::before {
    left: 0;
  }
  
  .hr-lines::after {
    right: 0;
  }
  
  
  